#dataset-picker {
	position: fixed;
	left: 3rem;
	top: 3rem;
	font-size: 1.75rem;
	z-index: 1;
	&:before {
		content: "Dataset";
		display: block;
		text-transform: uppercase;
		font-size: 1rem;
	}
	.current {
		font-size: 3rem;
	}
	&:not(.open) {
		.dropdown {
			display: none;
		}
	}
}
