#edit-diversity {
	margin-bottom: 6rem;
	.label {
		text-transform: uppercase;
		margin-bottom: 1rem;
		font-size: 1.1rem;
		letter-spacing: 0.5px;
	}
	.slider {
		position: relative;
		$slider-circle-height: 3rem;
		.bar {
			padding-top: $slider-circle-height / 2;
			border-bottom: solid 1px $dove-gray;
			&:before, &:after {
				position: absolute;
				top: calc(#{$slider-circle-height} / 2 + 10px)
			}
			&:before {
				content: "0";
				left: 0;
			}
			&:after {
				content: "1";
				right: 0;
			}
		}
		.circle {
			color: white;
			text-align: center;
			line-height: 3rem;
			width: $slider-circle-height;
			height: $slider-circle-height;
			border-radius: 50%;
			background: lighten($dove-gray, 10%);
			@extend %material-design-shadow;
			position: absolute;
			top: 0;
			cursor: pointer;
			transform: translateX(-50%);
		}
	}
}