#second-degrees,
#third-degrees {
	margin-bottom: 2rem;
}

#edit-friends-friends,
#second-degrees,
#third-degrees {
	.checkbox-wrapper {
		border-radius: 50%;
	}
	.circle {
		width: 5px;
		height: 5px;
		background: $dove-gray;
		border-radius: 50%;
		top: 50%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		transform: translateY(-50%);
	}
	&[data-checked="false"] {
		.circle {
			display: none;
		}
	}
}

#mutual-followers,
#whether-to-unfollow {
	margin-bottom: 4rem;
}

#edit-friends-friends, 
#second-degrees,
#third-degrees,
#mutual-followers,
#whether-to-unfollow {
	white-space: nowrap;
	cursor: pointer;
	.checkbox-wrapper, .label {
		display: inline-block;
		vertical-align: top;
	}
	.checkbox-wrapper {
		width: 1.75rem;
		height: 1.75rem;
		border: solid 1px $dove-gray;
		text-align: center;
		i {
			line-height: 1.65rem;
			font-size: 1.25rem;
		}
	}
	.label {
		white-space: normal;
		width: calc(100% - 1.75rem);
		padding-left: 1rem;
		line-height: 1.5;
		margin-top: -0.4rem;
		font-size: 1.1rem;
	}
	&[data-checked="true"] {

	}
	&:not([data-checked="true"]) {
		i {
			display: none;
		}
	}
}