#visualization-wrapper {
	#visualization {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		.select-visualization {
			width: 15rem;
			margin-left: 3rem;
			padding-bottom: 2rem;
			.option {
				font-size: 1.25rem;
			}
			&:not(.open) {
				.dropdown {
					display: none;
				}
			}
			.label {
				text-transform: uppercase;
			}
			.select {
				.current {
					font-size: 2rem;
				}
			}
		}
		.svg-wrapper {
			width: calc(100% - 6rem);
			margin-left: auto;
			margin-right: auto;
			overflow: scroll;
		}
		svg {
			overflow: visible;
			margin: 2rem auto;
			text {
				fill: $dove-gray;
			}
			&[data-converged="true"] {
				.convergence-marker {
					display: block;
				}
			}
			path {
				fill: none;
			}
			.x-axis-labels {
				text {
					text-anchor: middle;
					font-size: 0.8rem;
				}
			}
			line {
				stroke: #bbb;
			}
			.convergence-marker {
				display: none;
				stroke: none;
				fill: $dove-gray;
			}
			path {
				stroke: #444;
				stroke-linecap: round;
			}
			&[data-test-name="ConvergenceTimeseries"] {
			}
			&[data-test-name="AssortativityChart"] {
			}
			&[data-test-name="DiversityHistogram"] {
				.convergence-marker {
					display: none !important;
				}
				.x-axis-labels {
					text:first-of-type {
						text-anchor: start;
					}
					text:last-of-type {
						text-anchor: end;
					}
				}
			}
			&[data-test-name="DiversityHistogram"] {
				path.initial {
					stroke: none;
					fill: #ccc;
				}
			}
		}
	}
}
