#visualization {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	svg {
		overflow: visible;
		margin: 2rem auto;
		.y-min-label, .y-max-label {
			text-anchor: end;
		}
		line {
			stroke: $dove-gray;
		}
		path {
			fill: none;
			&.added {
				stroke: green;
			}
			&.removed {
				stroke: red;
			}
		}
	}
}