#network_stats {
  position: fixed;
  left: 3rem;
  top: 9.5rem;
  font-size: 1.2rem;
  p {
    display: inline-block;
    margin-right: 1rem;
  }
  .conservative, .liberal, .neutral {
    font-weight: bold !important;
    display: inline-block;
    margin-left: .25rem;
  }
  .connection_percent_change_visual, .number_of_nodes, .number_of_nodes, .conservative, .liberal, .neutral, .number_of_edges {
    font-weight: normal;
  }
  .liberal {
    color: rgb(0, 190, 254)
  }
  .conservative {
    color: rgb(254, 25, 83)
  }
  .neutral {
    color: $black
  }
}
