@import "scss/variables";

body {
	margin: 0;
	color: $dove-gray;
	background: $background-color;
	.link {
		stroke: #ccc;
	}
}

body, html {
	font-size: 10px;
	font-family: 'News Cycle';
}

* {
	box-sizing: border-box;
}

$editable-parameters-width: 25rem;

#editable-parameters {
	width: $editable-parameters-width;
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	background: white;
}

#visualization-wrapper {
	position: relative;
	width: calc(100vw - #{$editable-parameters-width})
}

#webgl-canvas {
	&.flash {
		animation: flash 750ms forwards;
	}
}

@keyframes flash {
	0% { opacity: 1 }
  40%   { opacity: 0; }
  60% { opacity: 0 }
  100% { opacity: 1 }
}

#popover, #halo {
	display: none;
	pointer-events: none;
	position: absolute;
	z-index: 1;
}

#halo {
	top: 0;
	left: 0;
}

#halo.active {
	display: block;
	border: solid 1px black;
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
}

#popover {
	padding: 1.5rem;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2);
	border-radius: 2px;
	background: white;
	&[data-satisfied="true"] {
		color: green;
	}
	&[data-satisfied="false"] {
		color: red;
	}
}

#flotreward, #chart_caption {
	display: inline-block;
	width: 10rem;
	vertical-align: middle;
}

.chart_node_id, .chart_node_belief {
	display: block;
}

#chart_title {
	font-size: 1.1rem;
	margin-left: 15em;
	margin-top: 1em;
	width: 50%;
}

.charts .chart {
	width: 50%;
	display: inline-block !important;
	float: left;
}

.charts {
	width: 100%;
	display: inline-block !important;
	display: none !important;
}

.select {
	position: relative;
	.current {
		cursor: pointer;
		border-bottom: dotted 1px $border-color;
	}
	.dropdown {
		@extend %material-design-shadow;
		position: absolute;
		top: 0;
		left: 0;
		background: white;
		min-width: 14rem;
		.option {
			cursor: pointer;
			line-height: 2.5;
			padding: 0 1rem;
			&.active, &:hover {
				background: whitesmoke
			}
		}
	}
}

@import "scss/dataset_picker";
@import "scss/visualization";