$dove-gray: #707070;

body {
	margin: 0;
	color: $dove-gray;
	.link {
		stroke: #ccc;
	}
}

body, html {
	font-size: 10px;
	font-family: Helvetica;
}

#popover {
	display: none;
	padding: 1.5rem;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2);
	border-radius: 2px;
	background: white;
	position: absolute;
}

#flotreward, #chart_caption {
	display: inline-block;
	width: 10rem;
	vertical-align: middle;
}

.chart_node_id, .chart_node_belief {
	display: block;
}

#chart_title {
	font-size: 1.1rem;
	margin-left: 15em;
	margin-top: 1em
}
